### Gradle ###
.gradle
.kotlin/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/**/build/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/**/out/

.run/

### Eclipse ###
.apt_generated
.classpath
.eclipse/
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/**/bin/

### VS Code ###
.vscode/
.VSCodeCounter/

### Mac OS ###
.DS_Store

### Minecraft Modding ###
run/
!**/src/**/run/
**/src/generated/**/.cache/
modules/v1_21_1/v1_21_1-neoforge/src/generated/resources/assets/create_thermodynamics/blockstates/reactor_chamber.json
modules/v1_21_1/v1_21_1-neoforge/src/generated/resources/assets/create_thermodynamics/models/block/reactor_chamber*.json
modules/v1_21_1/v1_21_1-neoforge/src/generated/resources/assets/create_thermodynamics/models/item/reactor_chamber.json
modules/v1_21_1/v1_21_1-neoforge/src/generated/resources/assets/create_thermodynamics/textures/block/reactor_chamber*.png
repo/
!**/src/**/repo/

### Rust ###
native/**/target/
/Destroy/
